<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-center">Projeto Alegrete Tênis</h2>
                   
                    <h4 class="text-center">Instalação</h4>
                    <p class="card-text">
                        Clonando o Repositório
                    </p>
                    <pre><code>git clone https://github.com/seu-usuario/alegrete-tenis.git</code></pre>
                    <p class="card-text">
                        Instalando dependências e executando o projeto
                    </p>
                    <pre><code>cd alegrete-tenis
npm install 
npm start</code></pre>
                </div>
            </div>
        </div>
    </div>
</div>