<div class="container mt-5">
    <h2 class="mb-4">Listagem de Quadras Cadastradas</h2>
    <div class="table-responsive">
        <table id="quadrasTable" class="table table-bordered">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Nome da Quadra</th>
                    <th scope="col">Data de Criação</th>
                    <th scope="col">Situação</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Quadra Central</td>
                    <td>01/01/2023</td>
                    <td>Disponível</td>
                </tr>
                <tr>
                    <td>Quadra Lateral</td>
                    <td>15/02/2023</td>
                    <td>Em Manutenção</td>
                </tr>
                <tr>
                    <td>Quadra Sul</td>
                    <td>20/03/2023</td>
                    <td>Reservada</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>