<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <h2 id="custom-styles" class="text-center pt-3">Cadastro de Quadras<a class="anchorjs-link"
                        aria-label="Anchor" data-anchorjs-icon="#" href="#custom-styles"
                        style="padding-left: 0.375em;"></a></h2>
                        <hr>
                <form class="was-validated" novalidate>
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label for="validationCustom01">Nome</label>
                            <input type="text" class="form-control is-invalid" id="validationCustom01" required
                                placeholder="Nome da Quadra">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="validationDefault04">Situação</label>
                            <select class="form-select" id="validationDefault04" required>
                                <option selected disabled value="">Selecione</option>
                                <option>Ativo</option>
                                <option>Inativo</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12">
                        <button class="btn btn-success w-100" type="submit">Cadastrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>